POSTGRES_USER=you
POSTGRES_PASSWORD=are
POSTGRES_DB=shipments
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_R_PW=the
POSTGRES_RW_PW=greatest
POSTGRES_RW_USER=shrw
POSTGRES_CONSUMER_PW=person!
DBT_PROFILES_DIR=/usr/app/profiles